/*
* BreakPoints
*/
/*
* color
*/
/*
* mixin
*/
.u-break-at-mobile {
  display: inline;
}
@media screen and (max-width: 768px) {
  .u-break-at-mobile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .u-break-at-pc {
    display: none;
  }
}